/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: url(./images/fon.jpg); /* Фото на фон */
    background-size: cover; /* Покриває весь екран */
    background-position: center; /* Центрує фото на фоні */
    background-attachment: fixed; /* Фон не прокручується при скролінгу */
    color: #fff; /* Білий текст */
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Приховати горизонтальне прокручування */
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(26, 26, 26, 0.418); /* Чорний фон з прозорістю */
  align-items: center; /* Центруємо вертикально */
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00f5d4;
  flex-grow: 1; /* Залишаємо місце для центрування кнопок */
  text-align: center; /* Логотип залишаємо зліва */
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00f5d4; /* Колір тексту */
}

.logo svg {
  margin-right: 25px; /* Відстань між лого і текстом */
}


nav {
  flex-grow: 4; /* Витягування контейнера для кнопок */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Центруємо кнопки */
  gap: 50px;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center; /* Центрування іконки та тексту по вертикалі */
}

nav a i {
  margin-right: 8px; /* Відступ між іконкою та текстом */
}

nav a:hover {
  color: #00f5d4; /* Колір при наведенні */
}










/* Привітальна сторінка */
#welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #121212; */
  color: #f0f0f0;
  text-align: center;
}

#welcome-screen h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #00f5d4;
}

#welcome-screen p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}





@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Висота підйому */
  }
}

.letter {
  display: inline-block; /* Дозволяє анімацію для кожної літери */
  animation: bounce 0.5s ease infinite; /* Анімація */
}

/* Затримка анімації для кожної літери */
.letter:nth-child(1) { animation-delay: 0s; }
.letter:nth-child(2) { animation-delay: 0.1s; }
.letter:nth-child(3) { animation-delay: 0.2s; }
.letter:nth-child(4) { animation-delay: 0.3s; }
.letter:nth-child(5) { animation-delay: 0.4s; }
.letter:nth-child(6) { animation-delay: 0.5s; }
.letter:nth-child(7) { animation-delay: 0.6s; }
.letter:nth-child(8) { animation-delay: 0.7s; }
.letter:nth-child(9) { animation-delay: 0.8s; }
.letter:nth-child(10) { animation-delay: 0.9s; }
.letter:nth-child(11) { animation-delay: 1s; }
.letter:nth-child(12) { animation-delay: 1.1s; }
.letter:nth-child(13) { animation-delay: 1.2s; }
.letter:nth-child(14) { animation-delay: 1.3s; }
.letter:nth-child(15) { animation-delay: 1.4s; }
.letter:nth-child(16) { animation-delay: 1.5s; }
.letter:nth-child(17) { animation-delay: 1.6s; }
.letter:nth-child(18) { animation-delay: 1.7s; }
.letter:nth-child(19) { animation-delay: 1.8s; }
.letter:nth-child(20) { animation-delay: 1.9s; }
.letter:nth-child(21) { animation-delay: 2s; }
.letter:nth-child(22) { animation-delay: 2.1s; }
.letter:nth-child(23) { animation-delay: 2.2s; }
.letter:nth-child(24) { animation-delay: 1.3s; }
.letter:nth-child(25) { animation-delay: 1.4s; }
.letter:nth-child(26) { animation-delay: 1.5s; }
.letter:nth-child(27) { animation-delay: 1.6s; }
.letter:nth-child(28) { animation-delay: 1.7s; }
.letter:nth-child(29) { animation-delay: 1.8s; }
.letter:nth-child(30) { animation-delay: 1.9s; }
.letter:nth-child(31) { animation-delay: 2s; }
.letter:nth-child(33) { animation-delay: 2.2s; }
.letter:nth-child(34) { animation-delay: 1.3s; }
.letter:nth-child(35) { animation-delay: 1.4s; }
.letter:nth-child(36) { animation-delay: 1.5s; }
.letter:nth-child(37) { animation-delay: 1.6s; }







#continue-button {
  position: relative;
  background: url('./images/button.png') no-repeat center center/contain;
  background-size: 80%;
  width: 150px;
  height: 150px;
  border: 4px solid #00f5d4; /* Оновлений колір обводки */
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 245, 212, 0.6), 0 0 10px rgba(255, 255, 255, 0.4);
  font-size: 18px;
  color: #00f5d4; /* Оновлений колір тексту */
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 245, 212, 0.8);
}

#continue-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 25px rgba(0, 245, 212, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
}

#continue-button:active {
  transform: translateY(5px);
  box-shadow: 0 0 10px rgba(0, 245, 212, 0.8);
}

/* Видаляємо центральну точку */
#continue-button::before {
  content: none;
}



/* Основний контент, який спочатку прихований */
#main-content.hidden {
  display: none;
}

.hidden {
  display: none;
}






/* Основний контент */
main {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}














/* ліва */


/* Загальний стиль для всіх контейнерів з зображеннями */
.image-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px; /* Відступ між зображеннями */
}

/* Стиль для зображень */
.hero-thumb {
  width: 250px;
  height: 150px; /* Висота зображення */
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.6); /* Темний ефект для зображення */
  transition: all 0.3s ease;
}

/* Псевдоелемент для градієнта */
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: background 0.3s ease;
  border-radius: 10px;
}

/* Початковий темний стан */
.image-container:hover .hero-thumb {
  filter: brightness(1.1); /* Яскравість зображення при наведенні */
}

/* Підсвітка для кожного героя */
.hero1-images:hover .gradient-overlay {
  background: linear-gradient(to top, rgba(0, 255, 0, 0.63), rgba(0, 0, 0, 0)); /* Зелена підсвітка для героя 1 */
}

.hero2-images:hover .gradient-overlay {
  background: linear-gradient(to top, rgba(0, 0, 255, 0.7), rgba(0, 0, 0, 0)); /* Синя підсвітка для героя 2 */
}

.hero3-images:hover .gradient-overlay {
  background: linear-gradient(to top, rgba(255, 165, 0, 0.7), rgba(0, 0, 0, 0)); /* Оранжева підсвітка для героя 3 */
}

.hero4-images:hover .gradient-overlay {
  background: linear-gradient(to top, rgba(255, 255, 0, 0.7), rgba(0, 0, 0, 0)); /* Жовта підсвітка для героя 4 */
}

/* Додаткові стилі для прихованих елементів */
.hidden {
  display: none;
}














/* Центральний блок (герой та опис) */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: flex-start; /* Вирівнювання по лівому краю */
  align-items: center;
  max-width: 300%;
  width: 135%;
  padding: 30px;
}

.hero-text {
  max-width: 50%;
  margin-right: 10px; /* Відступ праворуч, щоб текст не стикнувся з картинкою */
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 35px;/* Відступ між абзацами */
  color: #f0f0f0; /* Колір тексту */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px; /* Менший відступ між заголовком та текстом */
}

.hero p {
  font-size: 1.2rem;
}

.hero img {
  height: 420px; /* Зменшена висота зображення */
  object-fit: contain;
  margin-left: 20px;
}


/* Стиль для центрального блоку та тексту героя */
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px; /* Відступ під заголовком */
}

/* Лінія під заголовком */
.hero-name-underline {
  width: 100%; /* Лінія на всю ширину */
  height: 4px; /* Висота лінії */
  transition: background-color 0.3s ease; /* Плавний перехід кольору */
}

/* Кольорові лінії для кожного героя */
.hero1 .hero-name-underline {
  background-color: rgba(0, 255, 0, 0.8); /* Зелена лінія для Rocket Raccoon */
}

.hero2 .hero-name-underline {
  background-color: rgba(0, 0, 255, 0.8); /* Синя лінія для Doctor Strange */
}

.hero3 .hero-name-underline {
  background-color: rgba(255, 165, 0, 0.8); /* Оранжева лінія для Black Panther */
}

.hero4 .hero-name-underline {
  background-color: rgba(255, 255, 0, 0.8); /* Жовта лінія для Iron Man */
}


.hidden {
  display: none;
}













/* Права панель */
.right-panel {
  width: 4%;
  padding: 0;
}

/* Список героїв */
#heroes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* Елементи списку */
.hero-item {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  padding: 30px;
  transition: background-color 0.3s ease, border-color 0.3s ease, text-shadow 0.3s ease;
  writing-mode: vertical-rl; /* Текст вертикальний */
  text-align: center; /* Вирівнювання тексту по центру */
  transform: rotate(180deg); /* Переворот тексту */
  margin-bottom: 1px; /* Збільшений відступ між елементами */
  border: 3px solid transparent; /* Прозора рамка, щоб ефект працював */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Легкий сірий контур для тексту */
}


/* Зелена підсвітка для Rocket Raccoon */
.hero1.active {
  background-color: rgba(0, 255, 0, 0.2); /* Світло-зелена підсвітка */
  border-color: rgba(0, 255, 0, 0.8);
}

/* Синя підсвітка для Doctor Strange */
.hero2.active {
  background-color: rgba(0, 0, 255, 0.2); /* Світло-синя підсвітка */
  border-color: rgba(0, 0, 255, 0.8);
}

/* Оранжева підсвітка для Black Panther */
.hero3.active {
  background-color: rgba(255, 165, 0, 0.2); /* Світло-оранжева підсвітка */
  border-color: rgba(255, 165, 0, 0.8);
}

/* Жовта підсвітка для Iron Man */
.hero4.active {
  background-color: rgba(255, 255, 0, 0.2); /* Світло-жовта підсвітка */
  border-color: rgba(255, 255, 0, 0.8);
}






/* Центруємо галерею на вкладці */


#gallery-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 500vw;
  padding-top: 40px; /* Відступ зверху */
}

.gallery-container {
  display: flex;
  justify-content: center; /* Центруємо фото по горизонталі */
  align-items: center; /* Центруємо фото по вертикалі */
  gap: 9px; /* Відступ між фото */
  width: 90%; /* Ширина галереї */
  max-width: 1200px; /* Максимальна ширина */
  height: 300px; /* Висота галереї */
  overflow: hidden; /* Ховаємо вихід за межі контейнера */
}

.gallery-container .box {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 110px; /* Початкова ширина фото */
  height: 100%; /* Висота фото */
  transition: all 0.6s ease-in-out;
  border-radius: 1px;
  cursor: pointer;
  flex-shrink: 0; /* Забороняємо стискання */
  filter: brightness(1); /* Початкова яскравість */
}





/* Стилі для заголовків героїв */
.gallery-container h1 {
  text-align: center; /* Вирівнювання по центру */
  padding: 10px; /* Внутрішній відступ */
  border-radius: 10px; /* Закруглені краї */
  margin-bottom: 15px; /* Відступ від галереї */
  border: 2px solid; /* Межа для ефекту підсвітки */
}

/* Зелений для Rocket Raccoon */
#gallery1 h1 {
  background-color: rgba(0, 255, 0, 0.2);
  color: rgb(255, 255, 255);
  border-color: rgba(0, 255, 0, 0.8);
}

/* Синій для Doctor Strange */
#gallery2 h1 {
  background-color: rgba(0, 0, 255, 0.2);
  color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 255, 0.8);
}

/* Оранжевий для Black Panther */
#gallery3 h1 {
  background-color: rgba(255, 165, 0, 0.2);
  color: rgb(255, 255, 255);
  border-color: rgba(255, 165, 0, 0.8);
}

/* Жовтий для Iron Man */
#gallery4 h1 {
  background-color: rgba(255, 255, 0, 0.2);
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 0, 0.8);
}





.gallery-line {
  width: 50%; /* Ширина лінії, можна змінити */
  height: 3px;
  background-color: #00f5d4; /* Колір лінії */
  margin: 40px auto; /* Однакові відступи зверху і знизу */
}




/* Галерея 1 */
.g1-a1 { background-image: url('./images/hero1/hero1-1.jpg'); }
.g1-a2 { background-image: url('./images/hero1/hero1-2.jpg'); }
.g1-a3 { background-image: url('./images/hero1/hero1-3.jpg'); }
.g1-a4 { background-image: url('./images/hero1/hero1-4.jpg'); }
.g1-a5 { background-image: url('./images/hero1/hero1-5.jpg'); }
.g1-a6 { background-image: url('./images/hero1/hero1-6.jpg'); }

/* Галерея 2 */
.g2-a1 { background-image: url('./images/hero2/hero2-1.jpg'); }
.g2-a2 { background-image: url('./images/hero2/hero2-2.jpg'); }
.g2-a3 { background-image: url('./images/hero2/hero2-3.jpg'); }
.g2-a4 { background-image: url('./images/hero2/hero2-4.jpg'); }
.g2-a5 { background-image: url('./images/hero2/hero2-5.jpg'); }
.g2-a6 { background-image: url('./images/hero2/hero2-6.jpg'); }

/* Галерея 3 */
.g3-a1 { background-image: url('./images/hero3/hero3-1.jpg'); }
.g3-a2 { background-image: url('./images/hero3/hero3-2.jpg'); }
.g3-a3 { background-image: url('./images/hero3/hero3-3.jpg'); }
.g3-a4 { background-image: url('./images/hero3/hero3-4.jpg'); }
.g3-a5 { background-image: url('./images/hero3/hero3-5.jpg'); }
.g3-a6 { background-image: url('./images/hero3/hero3-6.jpg'); }

/* Галерея 4 */
.g4-a1 { background-image: url('./images/hero4/hero4-1.jpg'); }
.g4-a2 { background-image: url('./images/hero4/hero4-2.jpg'); }
.g4-a3 { background-image: url('./images/hero4/hero4-3.jpg'); }
.g4-a4 { background-image: url('./images/hero4/hero4-4.jpg'); }
.g4-a5 { background-image: url('./images/hero4/hero4-5.jpg'); }
.g4-a6 { background-image: url('./images/hero4/hero4-6.jpg'); }

/* Зміщення по висоті */
.gallery-container .box:nth-child(odd) {
  margin-top: 20px;
}
.gallery-container .box:nth-child(even) {
  margin-bottom: 20px;
}

/* Ефект при наведенні */
.gallery-container .box:hover {
  width: 300px; /* Розширюємо фото */
}

/* Стилізація текстових міток */
.gallery-container .box::after {
  content: attr(data-text);
  position: absolute;
  background-color:#00f5d4;
  color: #000000;
  font-size: 1.2em;
  font-weight: 600;
  padding: 8px 12px;
  white-space: nowrap;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.gallery-container .box:hover::after {
  opacity: 1;
  bottom: 10px;
}

/* Затемнення інших фото при наведенні */
.gallery-container:hover .box:not(:hover) {
  filter: brightness(0.5); /* Зменшуємо яскравість */
}

/* Ефект при наведенні на конкретне фото */
.gallery-container .box:hover {
  width: 300px; /* Розширюємо фото */
  filter: brightness(1); /* Повна яскравість */
  z-index: 2; /* Піднімаємо фото над іншими */
}




#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#fullscreen-container {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

#fullscreen-container img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

#prev-button, #next-button, #close-button {
  position: fixed;
  background-color: #00f5d4; /* Білий колір з прозорістю */
  color: #000000; /* Чорний колір тексту */
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#prev-button:hover, #next-button:hover, #close-button:hover {
  background-color: rgba(255, 255, 255, 1); /* Повністю білий при наведенні */
  transform: scale(1.3);
}

/* Розташування кнопок */
#prev-button {
  left: 20px; /* Зліва */
  top: 50%;
  transform: translateY(-1%);
}

#next-button {
  right: 20px; /* Справа */
  top: 50%;
  transform: translateY(-1%);
}

#close-button {
  right: 20px; /* Зверху праворуч */
  top: 20px;
}





.hidden {
  display: none;
}












.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.contact-column {
  flex: 1; /* Займає всю доступну ширину */
  margin: 0 10px; /* Відстань між стовпчиками */
  padding: 20px;
  border: 1px solid #00f5d4;
  border-radius: 8px;
  background-color: #000000af;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрує вміст */
}

.social-media-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Займає всю ширину */
  margin-bottom: 20px; /* Відстань між соціальними мережами та QR-кодом */
}

.social-media-column {
  flex: 1; /* Займає всю доступну ширину */
  padding: 0 85px; /* Відстань між стовпчиками соціальних мереж */
}

.social-media-column p {
  margin: 2px 0; /* Відстань між рядками соціальних мереж */
}

.social-link {
  color: white; /* Білий колір тексту за замовчуванням */
  text-decoration: none; /* Без підкреслення */
  transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease; /* Плавний перехід */
  display: inline-block; /* Додано для того, щоб трансформація працювала */
}

.social-link:hover {
  color: #00f5d4; /* Колір тексту при наведенні */
  text-decoration: underline; /* Підкреслення при наведенні */
  transform: translateX(5px); /* Зміщення вправо при наведенні */
}

.social-link i {
  color: #00f5d4; /* Колір іконок */
  transition: color 0.3s ease; /* Плавний перехід для іконок */
}

.social-link:hover i {
  color: white; /* Зміна кольору іконок при наведенні */
}



.qr-image {
  width: 230px; /* Ширина QR-коду */
  height: auto;
  margin-top: 10px; /* Відстань між заголовком "Scan Me!" та QR-кодом */
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Вирівнює текст вліво */
  gap: 8px;
}


.contact-link {
  color: white; /* Білий колір тексту за замовчуванням */
  text-decoration: none; /* Без підкреслення */
  transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease; /* Плавний перехід */
  display: inline-block; /* Додано для того, щоб трансформація працювала */
}

.contact-link:hover {
  color: #00f5d4; /* Колір тексту при наведенні */
  text-decoration: underline; /* Підкреслення при наведенні */
  transform: translateX(5px); /* Зміщення вправо при наведенні */
}

.contact-link i {
  color: #00f5d4; /* Колір іконок за замовчуванням */
  transition: color 0.3s ease; /* Плавний перехід для іконок */
}

.contact-link:hover i {
  color: white; /* Зміна кольору іконок при наведенні */
}





.contact-form {
  margin: 20px auto; /* Відстань зверху та знизу, автоматичне вирівнювання по центру */
  padding: 20px;
  border: 1px solid #00f5d4;
  border-radius: 8px;
  background-color: #000000;
  width: 35%; /* Ширина форми */
  display: flex; /* Додаємо flex для вирівнювання елементів */
  flex-direction: column; /* Вирівнюємо елементи вертикально */
}

.contact-form h2 {
  color: #00f5d4; /* Колір заголовка */
  margin-bottom: 20px; /* Відстань між заголовком та формою */
  text-align: center;
}

.contact-form label {
  color: #ffffff; /* Колір тексту міток */
  margin-top: 15px; /* Збільшена відстань між мітками та полями вводу */
  margin-bottom: 5px; /* Відстань між міткою та полем вводу */
}

.contact-form input,
.contact-form textarea {
  width: 100%; /* Ширина полів вводу */
  padding: 7px; /* Внутрішні відступи */
  margin-top: 7px; /* Відстань між міткою та полем вводу */
  border: 1px solid #00f5d4; /* Колір рамки */
  border-radius: 4px; /* Закруглені кути */
  background-color: #222; /* Колір фону полів вводу */
  color: #ffffff; /* Колір тексту */
}

.contact-form button {
  margin-top: 10px; /* Відстань між кнопками та полями вводу */
  padding: 10px 15px; /* Внутрішні відступи кнопок */
  border: none; /* Без рамки */
  border-radius: 4px; /* Закруглені кути */
  cursor: pointer; /* Курсор при наведенні */
  transition: background-color 0.3s ease; /* Плавний перехід для фону */
}

.submit-button {
  background-color: #00f5d4; /* Колір фону кнопки "Send" */
  color: #000; /* Колір тексту кнопки */
}

.submit-button:hover {
  background-color: #ffffff; /* Темніший колір при наведенні */
}

.reset-button {
  background-color: #00f5d4; /* Колір фону кнопки "Reset" */
  color: #000000; /* Колір тексту кнопки */
  margin-left: 10px; /* Відстань між кнопками */
}

.reset-button:hover {
  background-color: #ff0202; 
}



.profile-photo {
  display: block;
  margin: 1px auto 2px; 
  width: 150px; 
  height: auto; 
  border-radius: 50%; 
}







::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-thumb {
  background-color: #00f5d4; 
  border-radius: 10px; 
  border: 3px solid #000000; 
}

::-webkit-scrollbar-track {
  background: #000000; 
  border-radius: 10px;
}









  
  


@media (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 20px;
    }

    .left-panel, .hero-content, .right-panel {
        width: 100%;
    }

    #hero-main-image {
        width: 90%;
    }
}


/* Для дуже малих екранів (телефони) */
@media (max-width: 480px) {
  main {
      flex-direction: column;
      margin: 20px;
  }

  .left-panel, .hero-content, .right-panel {
      width: 100%;
  }

  nav ul {
      flex-direction: column;
      gap: 20px;
  }

  .hero img {
      height: 250px;
      margin-left: 0;
  }

  #continue-button {
      width: 120px;
      height: 120px;
  }

  .gallery-container {
      flex-direction: column;
      height: auto;
  }

  .gallery-container .box {
      width: 90%;
      height: 200px;
  }
}

/* Для планшетів */
@media (max-width: 1024px) {
  main {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .hero {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .hero img {
      height: 350px;
      margin-left: 0;
  }

  .right-panel {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .hero-item {
      writing-mode: horizontal-tb;
      transform: rotate(0);
      padding: 10px 20px;
  }
}

/* Для великих екранів */
@media (min-width: 1440px) {
  main {
      margin: 60px;
  }

  .hero img {
      height: 500px;
  }

  .gallery-container {
      max-width: 1500px;
      height: 400px;
  }

  .gallery-container .box {
      width: 150px;
  }
}
